.board {
  height: 800px;
}

.tile {
  position: relative;
}

.tile-01 {
  left: 512px;
  top: 29px;
}

.tile-02 {
  left: 358px;
  top: 232px;
}

.tile-03 {
  left: 614px;
  top: 261px;
}

.tile-04 {
  left: 460px;
  top: 464px;
}

.tile-05 {
  left: 768px;
  top: 58px;
}

.tile-06 {
  left: 870px;
  top: 290px;
}

.tile-07 {
  left: 716px;
  top: 493px;
}

.tile-08 {
  left: 204px;
  top: 435px;
}

.tile-09 {
  left: 102px;
  top: 203px;
}

.tile-10 {
  left: 256px;
}

.planet {
  position: absolute;
}

.planet-v-1 {
  left: -102px;
}

.planet-v-2 {
  left: -51px;
}

.planet-v-3 {
  left: 0px;
}

.planet-v-4 {
  left: 51px;
}

.planet-v-5 {
  left: 102px;
}

.planet-h-1 {
  top: 0px;
}

.planet-h-2 {
  top: 29px;
}

.planet-h-3 {
  top: 58px;
}

.planet-h-4 {
  top: 87px;
}

.planet-h-5 {
  top: 116px;
}

.planet-h-6 {
  top: 145px;
}

.planet-h-7 {
  top: 174px;
}

.planet-h-8 {
  top: 203px;
}

.planet-h-9 {
  top: 232px;
}