.player {
  height: 380px;
  width: 600px;
  position: relative;
}

.figure {  
  opacity: 70%;
  position: absolute;
}

.figure .set {
  opacity: 20%;
}

.figure .choosen {
  background-color: green;
}

.planetary-institute {
  height: 49px;
  width: 56px;
  top: 174px;
}

.planetary-institute-1 {
  left: 85px;
}

.academy {
  height: 59px;
  width: 41px;
  top: 170px;
}

.academy-1 {
  left: 291px;
}

.academy-2 {
  left: 356px;
}

.research-lab {
  height: 37px;
  width: 36px;
  top: 256px;
}

.research-lab-1 {
  left: 283px;
}

.research-lab-2 {
  left: 326px;  
}

.research-lab-3 {
  left: 369px;
}

.trading-station {
  height: 38px;
  width: 20px;
  top: 256px;
}

.trading-station-1 {
  left: 85px;
}

.trading-station-2 {
  left: 114px;
}

.trading-station-3 {
  left: 143px;
}

.trading-station-4 {
  left: 172px;
}

.mine {  
  height: 30px;
  width: 20px;
  top: 325px;
}

.mine-1 { 
  left: 85px;
}

.mine-2 { 
  left: 114px;
}

.mine-3 { 
  left: 143px;
}

.mine-4 { 
  left: 172px;
}

.mine-5 { 
  left: 201px;
}

.mine-6 { 
  left: 230px;
}

.mine-7 { 
  left: 259px;
}

.mine-8 { 
  left: 288px;
}